body{
    background-color: aliceblue;
    display:inline;
}

#first-box{
    background-color: blue;
    width: 25%;
    height: 50%;
    float:left;
    
}
#second-box{
    background-color: green;
    width:25%;
    height:50%;
    float:right;
    
}
#third-box{
    background-color: rgb(245, 51, 3);
    width: 25%;
    height: 50%;
    float:left;
}
#fourth-box{
    background-color: rgb(18, 209, 235);
    width: 25%;
    height: 50%;
    float:right;
}